.cart {
  width: 90%;
  margin: 0 auto;

  .cartfoot {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (min-width: 768px) {
  .cart {
    width: 500px;
  }
}
