.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-top: 1rem;
  padding: 0 1rem;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;

  &:hover {
    transform: scaleX(1.05);
    box-shadow: 2px 3px 5px #ccc;
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
